body {
    font-family: "avenirltstd-light", Sans-serif !important;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

/* Contact Page */

.contact-page {
    font-family: "avenirltstd-light", Sans-serif !important;
    padding: 3% 9%;
}

.contact-page hr{
    opacity: 1;
    margin-bottom: 2rem;
}

.contact-page h2 {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    padding-bottom: 2%;
    text-align: center;
}

.info {
    word-wrap: break-word;
    word-break: break-word;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.input-info input {
    padding: 1rem 1.5rem;
    border:0.5px solid rgb(199, 199, 199);
    width: 105%;
    margin: 10px 0;
}

.input-info textarea {
    padding: 0.5rem 1rem;
    width: 105%;
    height: 6rem;
    border:0.5px solid rgb(199, 199, 199) ;
    margin: 10px 0;
}

button{
    padding: 0.5rem 1rem;
    width: 8rem;
    height: 4rem;
    background-color: #e22658;
    font-size: 1.5rem;
    color: aliceblue;
    border:none;
    font-weight: 550;
}

